[binance_user_config]
api_key=$apiKey
api_secret_key=$apiSecret
current_coin=
bridge=USDT
tld=com
hourToKeepScoutHistory=1
scout_multiplier=5
scout_sleep_time=1
strategy=default
enable_paper_trading=False
buy_timeout=10
sell_timeout=5
buy_order_type=limit
sell_order_type=limit
sell_max_price_change=0.005
buy_max_price_change=0.005
trade_fee=auto
price_type=orderbook
accept_losses=false
max_idle_hours=72
ratio_adjust_weight=500
auto_adjust_bnb_balance=false
auto_adjust_bnb_balance_rate=3

backtest_buy_at_start=False
backtest_start_balances={"BUSD": 1000.0}
backtest_start_date=2020/1/1/0/0
backtest_end_date=2021/10/28/0/0
backtest_interval=1440
backtest_yield_interval=120

strategy_config={"fast_ema_period":12, "slow_ema_period":26, 
                 "time_frame":"day", "buy_amount":0, "buy_percent":100}